@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link  type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Control.css")" />
        <title>"Добассуглеавтоматика"</title>
        <script src="@Url.Content("~/Content/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
        <script type="text/javascript" src="../../Content/jqueryrotate.2.1.js"></script> 
        <script type="text/javascript" src="../../Content/CustomElements.js"></script> 

    </head>
    <script type="text/javascript">
        var timeId=0;
    </script>
    <body>

            <div class="div_left_header_top">
                <p style="font-size: 24px" align="center">ООО </br>ДОНБАССУГЛЕАВТОМАТИКА</p>
            </div>
            <div class="div_left_header_bottom">
                <div style="float:left; margin-left: 50px; font-size: 20px; font-style: italic;" id="time"></div>
                <div style="float: left; margin-left: 120px; font-size: 20px; font-style: italic;" id="date"></div>
            </div>
        <div id="div_content">
            @Html.Partial("ControlContent")
        </div>
    
  

    

   
    </body>  
    <script type="text/javascript">
        CountTime();
    </script>
</html>
