@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link  type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Control.css")" />
        <title>"Добассуглеавтоматика"</title>
        <script src="@Url.Content("~/Content/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Content/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
        <script type="text/javascript" src="../../Content/jqueryrotate.2.1.js"></script> 
        <script type="text/javascript" src="../../Content/CustomElements.js"></script> 

    </head>
    <body id="div_content">



        @Html.Partial("ControlContent")

    
  

    

   
    </body>  
</html>
